@font-face {
  font-family: 'Raleway';
  src: url('/fonts/Raleway.ttf');
}

body {
  background-color: rgb(180, 180, 180);
  color: rgb(0, 0, 0);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background-color: rgb(31, 31, 31);
    color: white;
  }  
}