.summative {
    border: 2px solid rgb(36, 36, 36);
    padding: 10px;
}
.stocks {
    display: flex;
    flex-direction: column;
}
.stock {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 10px;
    align-items: center;
    border: 2.4px solid rgb(46, 46, 46);
}
.price {
    border: 2.4px solid rgb(47, 124, 2);
    border-radius: 10px;
    background-color: rgb(47, 124, 2);
    padding: 5px;
}

input {
    padding: 10px;
    border: none;
    border-radius: 10px;
    margin: 5px;
    background-color: rgb(41, 41, 41);
    color: white;
}

button {
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
    border: 2px solid black;
}